.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.bash_history
.bash_profile
.cache
.config
.ctags
.eclipse
.emacs.d
.fontconfig
.gitconfig
.gitignore.swp
.jenkins
.jssc
.lesshst
.myeclipse
.myeclipse.properties
.new.swp
.pulse2.locator
.rnd
.sh_history
.ssh
.subversion
.thefuck
.viminfo
.wireshark
.wireshark-etc
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox VMs
bin
cloud
direvent.conf
known_hosts
new
pppdial.conf
ps_raw.txt
tags
try.sh
vimconf
